.main {
    width: 900px;
    margin: auto;
}

#title {
    text-align: center;
    font-family: arial;
}

.view {
    position: relative;
}

.view > img {
    width: 900px;
}

.link {
    position: absolute;
    background: rgba(0, 0, 255, 0.05);
}

.link:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
